{% extends "base.html" %}

{% block content %}


    {% for wish in wishes %}
    <div class="card mt-auto w-100 justify-center nav-scroller text-dark" style="width: 18rem;">
        <div class="card-body">
            <input type="hidden" name="id" value="{{ wish.id }}">
            <h5 class="card-title">{{ wish.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Стоимость: {{ wish.price }}</h6>
            <p class="card-text">{{ wish.description }}</p>
            <a style="text-decoration: none;" href="{{ wish.url }}" class="card-link" target="_blank">Ссылка</a>
            <a style="text-decoration: none;" href="{{ url_for('edit_wish', id=wish.id) }}" class="card-link">Редактировать</a>
            <a style="text-decoration: none;" href="{{ url_for('delete_wish', id=wish.id) }}" class="card-link">Удалить</a>
        </div>
    </div>
    <br>
        {% endfor %}
</div>



{% endblock %}